<small>Powered by <a href="http://github.com/stevej/rumblelog">rumblelog</a> and <a href="http://fauna.org">fauna</a></small>
<div class="admin">
  [<a href="/create">create post</a>, <a href="/edit">edit posts</a>, <a href="/status">status</a>]
</div>
{{> sidebar}}
