<!-- index -->

  <div class="content">
    <div class="posts">
      {{#pages}}
        {{> page_content }}
      {{/pages}}
    </div>
  </div>

{{^pages}}
  <p>
    Sorry, there are no pages to display. Try creating some!
  </p>
{{/pages}}

{{> footer}}
<!-- /index -->