<!-- page_content -->
<section class="post">
  <header class="post-header">
   <h2 class="post-title">{{title}}</h2>

    <p class="post-meta">
      {{#links_for_tags}}
        Tags: <a class="post-category post-category-design" href="/t/{{tag_name}}">{{tag_name}}</a>
      {{/links_for_tags}}
      Written at: <small><a href="{{url}}">{{ts}}</a></small>
    </p>
  </header>

  <div class="post-description">
    <p>
      {{body}}
    </p>
  </div>
</section>
<!-- /page_content -->
