  <p>
    <a href="{{url}}">[{{title}}]</a><br />
    tags: {{#links_for_tags}}
    <a href="/t/{{tag_name}}">{{tag_name}}</a>
    {{/links_for_tags}}
  <div class="post-body">
    {{{body}}}
  </div>
  </p>
