<!-- sidebar -->
<div class="sidebar pure-u">
  <hgroup>
    <h1 class="brand-title"><a href="/">Rumblelog</a></h1>
    <h2 class="brand-tagline">A sample blog powered by <a href="http://fauna.org">Fauna</a>, <a href="http://sinatrarb.com">Sinatra</a>, <a href="http://purecss.io">Pure</a>, and <a href="http://heroku.com">Heroku</a></h2>
  </hgroup>
  <nav class="nav">
    <ul class="nav-list">
      <div>
      <li class="nav-item">
        <a class="pure-button" href="/create">Create Post</a>
      </li></div>
      <div>
      <li class="nav-item">
        <a class="pure-button" href="/edit">Edit Posts</a>
      </li></div>
      <div>
      <li class="nav-item">
        <a class="pure-button" href="/status">Status</a>
      </li></div>
    </ul>
  </nav>
</div>
<!-- /sidebar -->