<!-- sidebar -->
<div class="sidebar pure-u">
  <hgroup>
    <h1 class="brand-title"><a href="/">{{title}}</a></h1>
    <h2 class="brand-tagline">{{{subtitle}}}</h2>
  </hgroup>
  <nav class="nav">
    <ul class="nav-list">
      <div>
      <li class="nav-item">
        <a class="pure-button" href="/create">Create Post</a>
      </li></div>
      <div>
      <li class="nav-item">
        <a class="pure-button" href="/edit">Edit Posts</a>
      </li></div>
      <div>
      <li class="nav-item">
        <a class="pure-button" href="/status">Status</a>
      </li></div>
      <div>
        <li class="nav-item">
          <a class="pure-button" href="/atom.xml">Atom feed</a>
        </li>
      </div>
    </ul>
  </nav>
</div>
<!-- /sidebar -->