<h1>{{title}}</h1>

<dl class="status">
  <dt>Connected to Fauna?</dt>
  <dd>{{connection?}}</dd>

  <dt></dt>
  <dd></dd>
</dl>

<ul>
  <li>
    <a href="/">Home</a>
  </li>
  <li>
    <a href="/status">Status</a>
  </li>
</ul>

{{> footer}}

